
/* Cuerpo de la pagina web   */
body {
  font-family: sans-serif;
  width: 1300px;
  margin: auto;
}


/*Estilo de la cabecera*/
header {
  margin-top: 20px;
  height: 100px;
  background-color: #4CAF50;
  margin-bottom: 10px;
}


/* Estilo para que el texto se quede alineado y el logo arriba a la izquierda */

header img {
    vertical-align: top;
    float: left;
    margin: auto;
    padding: 8px;
}

header h1 {
    padding-top: 35px;
    padding-left: 100px;
}

/* Estilo de la zona central de enlaces */
main  {
  width: 79%;
  margin-left: 1%;
  margin-top: 50px;
  float: right;
  background-color: #99C04B;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.contenedor {
  text-align: center;
  text-decoration:none;
  color: black;
  padding-top: 20px;
}

/* Estilo de la barra de navegación    https://www.w3schools.com/css/css_navbar.asp */

nav {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  min-width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #4CAF50;
}


/* Zona lateral de enlaces de interes */
aside {
  margin-top: 50px;
  width: 20%;
  float: left;
  background-color: blue;
}

footer {
  margin-top: 10px;
  height: 90px;
  background-color: yellow;
  clear: both;
}

footer h3 {
  padding-top: 35px;
  text-align: center;
}

#titulo {
  font-family: sans-serif;
  color: red;
  margin: auto;
  display: inline-block;
}
