<!doctype html>
<html lang="es">
<html>
	<head>
		<meta charset="utf-8">
		<title>WADS Eventos</title>
		<link rel="shortcut icon" type="image/x-icon" href="../imgs/logo.ico" />
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	</head>


	<body>
		<header>
			<a href="portada.html"><img src="../imgs/logo.png" alt="Logo"></a>
			<h1 id="titulo">WADS Eventos sobre videojuegos</h1>
			<nav role="Navegación">
				<ul>
				  <li><a class="active" href="portada.html">Inicio</a></li>
				  <li><a href="#noticias">Noticias</a></li>
				  <li><a href="#acerca de">Acerca de</a></li>
				</ul>
			</nav>
		</header>

		{% block principal %}{% endblock %}

			<aside>
				<h2>Enlaces de interés</h2>
				<h3>Páginas web amigas</h3>
				<ul>
					<li><a href="https:/www.vrutal.com" target="_blank">VRUTAL</a></li>
					<li><a href="https:/www.nintenderos.com" target="_blank">Nintenderos</a></li>
					<li><a href="https:/www.humblebundle.com" target="_blank">Humble Bundle</a></li>
				</ul>
				<h3>Compañías</h3>
				<ul>
					<li><a href="https:/www.battle.net" target="_blank">Blizzard Entertainment</a></li>
					<li><a href="https:/euw.leagueoflegends.com" target="_blank">RIOT Games</a></li>
					<li><a href="https:/store.steampowered.com" target="_blank">Valve Corporation</a></li>
				</ul>


				<a class="rrss_facebook" href="https:/www.facebook.com">
		            <img src="../imgs/Facebook.png" alt="Facebook">
				</a>

				<a class="rrss_twitter" href="https:/www.twitter.com">
		            <img src="../imgs/Twitter.png" alt="Twitter">
				</a>

			</aside>


		<footer>
			<h3>Copyright 2019 &copy; hecho por Alberto Gurrea Callejas y Guillermo Bueno Vargas</h3>
		</footer>
	</body>

</html>
