{% extends "basico.html" %}

{% block principal %}
  <!--elEvento tiene un array donde:
  elEvento[0][0] es el nombre,
  elEvento[0][1] es la fecha y hora,
  elEvento[0][2] es el path de imagen,
  elEvento[0][3] es la descripción,
  elEvento[0][4] es el id,
  elEvento[0][5] es la cabecera de la imagen (derechos de autor),
  elEvento[0][6] es la fotoPortada
   -->

  <main class="imagen_evento">
    <div>
      <div>
        <!-- AGREGAR EL PATH DE LA IMAGEN DIRECTAMENTE DESDE LA BASE DE DATOS -->
        <img src="./imgs/evento.jpg" alt="HS">
        <div class="banner_img">{{ elEvento[0][5] }}</div>
      </div>
      <h2>{{ elEvento[0][0] }}</h2>
      <h3>{{ elEvento[0][1] }}</h3>
      <p>
        {{ elEvento[0][3] }}
      </p>

      <!-- FALTA AGREGAR EL LINK A LA BASE DE DATOS -->
      <a class="link_evento" href="https://firesidegatherings.com/es-es/?lat=37.14374&lng=-3.598988800000029#fireside-gatherings">
        {{ elEvento[0][0] }}.
      </a>
    </div>
    <!-- COMENTARIOS, FALTA POR HACER -->
    <button class="collapse">Comentarios</button>
    <div class="collapseContent" id="collapseContent">
      <div class="comentario" id="chat">
        <h4 id="comentario_autor">Agustin Ortiz</h4>
        <p id="comentario_hora">10:35 21/03/2019</p>
        <hr id="separador_comentario">
        <p id="contenido_comentario">
          HOLIIIIIIIIIIIIIIIIIIIIIIIIIIIIII.
        </p>
      </div>

      <div class="comentario" id="chat">
        <h4 id="comentario_autor">Agustin Ortiz</h4>
        <p id="comentario_hora">10:35 21/03/2019</p>
        <hr id="separador_comentario">
        <p id="contenido_comentario">
          HOLIIIIIIIIIIIIIIIIIIIIIIIIIIIIII.
        </p>
      </div>

      <form name="formularioComentar" action="" method="post">
        Nombre: <input type="text" id="name" name="nombreUsuario">
        <br><br>
        Email: <input type="email" id="email" name="email">
        <br><br>
        <textarea id="comment" name="comment" rows="5" cols="80" onkeyup="Censura()" placeholder="Tu comentario aqui :)"></textarea>
        <input id="botonEnviar" type="button" name="postear" onclick="Coment()" value="Comentar">
      </form>

    </div>
    <!-- Script para el despliegue de la sección de comentarios --->
    <script>
      var coll = document.getElementsByClassName("collapse");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>
  </main>
{% endblock %}
{% block imprimir %}
  <p>
    <a class="imprimir" href="evento_imprimir.html">
              <img src="./imgs/imprimir.png" alt="Impresión de la página web">
    </a>
  </p>
{% endblock %}
