{% extends "basico.html" %}

{% block principal %}
  <!--elEvento tiene un array donde:
  elEvento[0][0] es el nombre,
  elEvento[0][1] es la fecha y hora,
  elEvento[0][2] es el path de imagen,
  elEvento[0][3] es la descripción,
  elEvento[0][4] es el id,
  elEvento[0][5] es la cabecera de la imagen (derechos de autor),
  elEvento[0][6] es el link
   -->


  <main class="imagen_evento">
    <div>
      <div>
        <img src="{{ elEvento[0][2] }}" alt="HS">
        <div class="banner_img">{{ elEvento[0][5] }}</div>
      </div>
      <h2>{{ elEvento[0][0] }}</h2>
      <h3>{{ elEvento[0][1] }}</h3>
      <p>
        {{ elEvento[0][3] }}
      </p>

      <a class="link_evento" href="{{ elEvento[0][6] }}">
        {{ elEvento[0][0] }}.
      </a>
    </div>
    <!-- COMENTARIOS, FALTA POR HACER -->
    <button class="collapse">Comentarios</button>
    <div class="collapseContent" id="collapseContent">

      <!--comentarios tiene un array donde:
      comentarios[0] es el ip,
      comentarios[1] es el nombre,
      comentarios[2] es el email
      comentarios[3] es la fecha y hora,
      comentarios[4] es el texto,
       -->

      {% for comentario in comentarios %}
        <div class="comentario" id="chat">
          <h4 id="comentario_autor">{{ comentario[1] }}</h4>
          <p id="comentario_hora">{{ comentario[3] }}</p>
          <hr id="separador_comentario">
          <p id="contenido_comentario">
            {{ comentario[4] }}
          </p>
        </div>
      {% endfor %}

      <!-- Palabras para la censura -->


      <script type="text/javascript" src="/P3/javascript/behaviour.js">
      </script>

      <form name="formularioComentar" action="" method="post">
        Nombre: <input type="text" id="name" name="nombreUsuario">
        <br><br>
        Email: <input type="email" id="email" name="email">
        <br><br>
        <textarea id="comment" name="comment" rows="5" cols="80" onkeyup="Censura()" placeholder="Tu comentario aqui :)"></textarea>
        <input id="botonEnviar" type="button" name="postear" onclick="Coment()" value="Comentar">
      </form>

    </div>
    <!-- Script para el despliegue de la sección de comentarios --->
    <script type="text/javascript" src="/P3/javascript/comentarios.js">
    </script>

    {% for palabra in prohibidas %}
        <a id="prohibidas" data-entry-id='{{ palabra|json_encode|raw }}'/>
    {% endfor %}

  </main>
{% endblock %}

{% block imprimir %}
  <p>
    <a class="imprimir" href="./evento_imprimir/{{ elEvento[0][4] }}">
              <img src="/P3/imgs/imprimir.png" alt="Impresión de la página web">
    </a>
  </p>
{% endblock %}

{% block menu %}
  <nav role="Navegación">
    <ul>

      {% for elemento in elMenu %}
        <li><a href="/P3/{{ elemento[2] }}">{{ elemento[1] }}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endblock %}
