{% extends "basico.html" %}



{% block principal %}
	<!-- 
	lasNoticias[0][0] es el id
	lasNoticias[0][1] es la pagina
 	-->
	{{ lasNoticias[0][1]|raw }}
{% endblock %}

{% block menu %}
  <nav role="Navegación">
    <ul>
      {% for elemento in elMenu %}
        {% if elemento[1] == "Login" %}
          <a id="boton_circular" alt="Inicio de sesión" href="/P4/{{ elemento[2] }}"><img id="login_img"src="../P4/imgs/profile.png"></img></a>
        {% elseif elemento[1] == "Busqueda" %}
        {% else %}
          <li><a href="/P4/{{ elemento[2] }}">{{ elemento[1] }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endblock %}