
Options +FollowSymLinks
RewriteEngine on

#RewriteRule ^indice ./PHP/ [NC,L]
RewriteRule ^indice ./PHP/index.php [NC,L]
RewriteRule ^evento/([0-9]+) ./PHP/evento.php?id=$1 [NC,L]
RewriteRule ^evento/evento_imprimir/([0-9]+) ./PHP/evento_imprimir.php?id=$1 [NC,L]
