<!doctype html>
<html lang="es">
<html>
	<head>
		<meta charset="utf-8">
		<title>WADS Eventos</title>
		<link rel="shortcut icon" type="image/x-icon" href="/P6/imgs/logo.ico" />
		<link rel="stylesheet" type="text/css" href="/P6/css/style.css"/>
		{% block scripts %}{% endblock %}
	</head>


	<body>
		<header>
			<a href="/P6/indice"><img id="logo" src="/P6/imgs/logo.png" alt="Logo"></a>
			<h1 id="titulo">WADS Eventos sobre videojuegos</h1>
			<div id="menu_movil">
				<img id="icono_movil"src="/P6/imgs/burger_icon.png"></img>
				{% block menu %}{% endblock %}
			</div>
		</header>

		{% block principal %}{% endblock %}

			<aside>
				<h2>Enlaces de interés</h2>
				<h3>Páginas web amigas</h3>
				<ul>
					<li><a href="https:/www.vrutal.com" target="_blank">VRUTAL</a></li>
					<li><a href="https:/www.nintenderos.com" target="_blank">Nintenderos</a></li>
					<li><a href="https:/www.humblebundle.com" target="_blank">Humble Bundle</a></li>
				</ul>
				<h3>Compañías</h3>
				<ul>
					<li><a href="https:/www.battle.net" target="_blank">Blizzard Entertainment</a></li>
					<li><a href="https:/euw.leagueoflegends.com" target="_blank">RIOT Games</a></li>
					<li><a href="https:/store.steampowered.com" target="_blank">Valve Corporation</a></li>
				</ul>

				{% block facebook %}{% endblock %}

				{% block twitter %}{% endblock %}


				{% block imprimir %}{% endblock %}

			</aside>


		<footer>
			<h3>Copyright 2019 &copy; hecho por Alberto Gurrea Callejas y Guillermo Bueno Vargas</h3>
		</footer>
	</body>

</html>
